<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div>
            <h1>{{ .Name }}</h1>
            {{ if .Table }}
            <div style="border:0 solid black;margin:0;padding:0;">
                <ul style="display:flex;flex-wrap:wrap;">
                {{ range .Table }}
                <li style="margin-right:2em;"><a href="{{.Href}}">{{.Name}}</a></li>
                {{ end }}
                </ul>
            </div>
            {{ end }}
            <ul>
                {{ range .List }}
                <li><a href="/view/{{.Path}}">{{.Name}}</a></li>
                {{ end }}
            </ul>
        </div>
    </body>
</html>
