<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lilypond Sandbox</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/logo/favicon-32.png" sizes="32x32">
        <link rel="icon" href="/logo/favicon-57.png" sizes="57x57">
        <link rel="icon" href="/logo/favicon-76.png" sizes="76x76">
        <link rel="icon" href="/logo/favicon-96.png" sizes="96x96">
        <link rel="icon" href="/logo/favicon-128.png" sizes="128x128">
        <link rel="icon" href="/logo/favicon-192.png" sizes="192x192">
        <link rel="icon" href="/logo/favicon-228.png" sizes="228x228">
        <link rel="apple-touch-icon" href="/logo/favicon-120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/logo/favicon-152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="/logo/favicon-180.png" sizes="180x180">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/logo/favicon-144.png">
        <meta name="msapplication-config" content="/logo/browserconfig.xml">
    </head>
    <body>
        <div>
            <a href="/">Go Home</a>
            <form method="get">
                <h3 style="margin:0;font-family:monospace;">\score {</h3>
                <input size="50" maxlength="{{ .CommandMaxLength }}" type="text" id="lilypond" value="{{.Command}}" name="lilypond">
                <span id="charactercount" style="font-family:monospace;">{{ .CommandBeginLength }}/{{ .CommandMaxLength }}</span>
                <h3 style="margin:0;font-family:monospace;">}</h3>
                <input type="submit" value="Submit">
                <button onclick="saveToClipboard()">Copy to Clipboard</button>
            </form>
            {{ if .ImageHref }}
            <center><img style="margin-top:1em;" src="{{.ImageHref}}"></center>
            {{ end }}
            {{ if .CommandOutput}}
            <pre style="font-family:monospace;">{{.CommandOutput}}</pre>
            {{end}}
            <div class="flex">
            {{ range .LilypondIncipitExamples }}
            <div class="noborder"><img src="{{ . }}" alt="lilypond example incipit"></div>
            {{ end }}
            </div>
            <p>{{ .InfoText}}</p>
            <p>If you would like to learn how to enter music in lilypond and create incipits, feel free to read the quickstart quide at <a href="https://lilypond.org/text-input.html">lilypond.org</a >.</p>
        </div>
<script>
    function saveToClipboard() {
            var ctext = document.getElementById("lilypond");
            ctext.select();
            ctext.setSelectionRange(0,512);
            navigator.clipboard.writeText(ctext.value);
            alert("Copied lilypond input to clipboard. Note that this may not work on all browsers.");
        }
    document.getElementById('lilypond').onkeyup = function () {
            document.getElementById('charactercount').innerHTML = "" + this.value.length + "/{{ .CommandMaxLength }}";
        }
</script>
    </body>
</html>
