<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div>
            <a href="/">Go home</a>
            <h1 >{{ .ComposerFirst }} {{.ComposerLast}} ({{ .ComposerBirth}}-{{if ne .ComposerDeath 0}}{{.ComposerDeath}}{{end}})</h1>
            <a href="#tablej">Jump to table</a>
            <div style="border:solid black 0;max-width:25em;margin:0px;">
            {{ range .Notes }}
            <p>{{.Message}}</p>
            <p style="text-align:right;"><i>- {{.Author}}<br>{{.DateSTR}}</i></p>
            {{ end }}
            </div>
            {{ if .Lock }}
            <div>
                <h4 style="margin:2px;">{{.Lock}}</h4>
            </div>
            {{ end }}
            <table id="tablej">
                <tr>
                    <th>
                        <abbr title="Title of classification. For example, Opus, BWV, K, etc.">Class.</abbr>
                    </th>
                    <th>
                        No.
                    </th>
                    <th>
                        Other
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Incipit
                    </th>
                </tr>
                {{ range .WVList }}
                <tr>
                    <td>{{.Classifier}}</td>
                    <td style="text-align:right;">{{.Number}}</td>
                    <td>{{.Extra}}</td>
                    <td>{{.Title}}</td>
                    <td>{{if .Incipit }}<img src="/incipit?f={{.IncipitHTML}}.png" alt="{{.Incipit}}">{{ end}}</td>
                </tr>
                {{ end }}
            </table>
        </div>
    </body>
</html>
