<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/logo/favicon-32.png" sizes="32x32">
        <link rel="icon" href="/logo/favicon-57.png" sizes="57x57">
        <link rel="icon" href="/logo/favicon-76.png" sizes="76x76">
        <link rel="icon" href="/logo/favicon-96.png" sizes="96x96">
        <link rel="icon" href="/logo/favicon-128.png" sizes="128x128">
        <link rel="icon" href="/logo/favicon-192.png" sizes="192x192">
        <link rel="icon" href="/logo/favicon-228.png" sizes="228x228">
        <link rel="apple-touch-icon" href="/logo/favicon-120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/logo/favicon-152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="/logo/favicon-180.png" sizes="180x180">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/logo/favicon-144.png">
        <meta name="msapplication-config" content="/logo/browserconfig.xml" />
    </head>
    <body>
        <div>
            <a href="/">Go home</a>
            <h1 >{{ .ComposerFirst }} {{.ComposerLast}} ({{ .ComposerBirth}}-{{if ne .ComposerDeath 0}}{{.ComposerDeath}}{{end}})</h1>
            <a href="#tablej">Jump to table</a>
            <div style="border:solid black 0;max-width:25em;margin:0px;">
            {{ range .Notes }}
            <p>{{.Message}}</p>
            <p style="text-align:right;"><i>- {{.Author}}<br>{{.DateSTR}}</i></p>
            {{ end }}
            </div>
            {{ if .Lock }}
            <div>
                <h4 style="margin:2px;">{{.Lock}}</h4>
            </div>
            {{ else }}
            <a href="/edit/{{ .ID }}">Edit this page</a>
            {{ end }}
            <table id="tablej">
                <tr>
                    <th>
                        <abbr title="Title of classification. For example, Opus, BWV, K, etc.">Class.</abbr>
                    </th>
                    <th>
                        No.
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Incipit
                    </th>
                </tr>
                {{ range .WVList }}
                <tr>
                    <td>{{.Classifier}}</td>
                    <td style="text-align:right;">{{.Number}}</td>
                    <td>{{.Title}}</td>
                    <td>{{if .Incipit }}<img src="/incipit?id={{.ID}}&no={{.RowNumber}}" alt="{{.Incipit}}">{{ end}}</td>
                </tr>
                {{ end }}
            </table>
        </div>
    </body>
</html>
