<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WVlist</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/logo/favicon-32.png" sizes="32x32">
        <link rel="icon" href="/logo/favicon-57.png" sizes="57x57">
        <link rel="icon" href="/logo/favicon-76.png" sizes="76x76">
        <link rel="icon" href="/logo/favicon-96.png" sizes="96x96">
        <link rel="icon" href="/logo/favicon-128.png" sizes="128x128">
        <link rel="icon" href="/logo/favicon-192.png" sizes="192x192">
        <link rel="icon" href="/logo/favicon-228.png" sizes="228x228">
        <link rel="apple-touch-icon" href="/logo/favicon-120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/logo/favicon-152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="/logo/favicon-180.png" sizes="180x180">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/logo/favicon-144.png">
        <meta name="msapplication-config" content="/logo/browserconfig.xml">
    </head>
    <body>
        <div>
            <h1>{{ .Config.Name }}</h1>
            {{ if .Table }}
            <div style="border:0 solid black;margin:0;padding:0;">
                <ul style="display:flex;flex-wrap:wrap;">
                {{ range .Table }}
                <li style="margin-right:2em;"><a href="{{.Href}}">{{.Name}}</a></li>
                {{ end }}
                </ul>
            </div>
            {{ end }}
            <span><b>Administrators:</b></span>
            <div class="flex" >
            {{ range .Config.Admins}}
            <div class="noborder" style="margin-bottom: 1em;padding-right:2em;">
                <center><span>{{ .Name }}</span></center>
                {{ if not .HideEmail }}
                <center><span style="font-family:monospace;"><a href="mailto:{{ .Email }}">{{ .Email }}</a></span></center>
                {{ end }}
            </div>
            {{ end }}
            </div>
            
            <form method="get">
                <input placeholder="Search by Composer's name" type="text" id="search" name="search" value="{{ .SearchTerm }}">
                <input type="submit" value="Search">
            </form>
            <ul>
                {{ if .SearchTerm }}
                <h4 style="margin:0;">Search results for {{ .SearchTerm }}:</h4>
                {{end}}
                {{ range .List }}
                <li><a href="/view/{{.Path}}">{{.Name}}</a></li>
                {{ end }}
            </ul>
            <span style="font-family: monospace;">Running wvlist {{.Config.Version }}</span>
        </div>
    </body>
</html>
