*
!go.mod
!*.go
!LICENSE
!README.md
!.gitignore
!config.default.json
!config.txt
!template
!template/*
!rootstatic
!rootstatic/style.css
!rootstatic/logo/*
!lilypond_template
!homepageMenuContents.csv
!go.sum
!Makefile
!rootstatic/lilypondexamples/
!rootstatic/lilypondexamples/*
!logo
!logo/*
